html {
    height: 100%;
    align: middle;
}

body {
  text-align: center;
  background-color: white;
  color: #007280;
  display: flex;
  flex-direction: column;
  height: 90%;
  padding: 1%;
  font-family: 'Muli', sans-serif;

}

@media screen and (max-width : 300px)
{
  .list-description
  {
    font-size: 0.8em;;
  }
}
@media screen and (max-width : 350px)
{
  .list-description
  {
    font-size: 1.2em;
  }
}

.active {
  box-shadow: 2px 2px 1px 1px 1px white;
}

.footer {
  max-width: 100%;
  max-height: 7%;
  margin: 0px;
  padding: 0px;
  position: sticky;
  bottom: -1px;
  align-self: center;
}

.navigation {
  /*background: green;
  border-bottom: 1px solid #989EA4;
  border-top: 1px solid #717D85;
  color: #FFF;*/
  /*font: bold 18px/21px Helvetica, Arial, sans-serif;*/
  /*margin: 0;*/
  background-color: white;
  padding: 2px 0 0 2px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: -1px;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
}

.navbar-header {
  font-size: 1.8em;
}

.navbar-toggle {
  margin-top: 0px;
}

.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
    color: #007280;
}

.navbar-inverse .navbar-toggle {
    background-color: #007280;
}

navbar.less:579
.navbar-inverse .navbar-toggle {
    border-color: #fff;

}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-inverse .navbar-toggle {
    /* border-color: #333; */
    width: 2em;
    border: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #FF5722;
    background-color: #007280;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    border-radius: 4px;
    float: right;
    width: 95%;
}


/*.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #673AB7;
}*/

/*.nav nav-pills {
  margin-left: 20%;
  margin-right: 20%;
}*/

/*.nav {
  padding: 0px;
}*/

li {
  width: 15em;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #673AB7;
  text-decoration: none;
  width: 10em;
}

ul {
  padding: 0px;
}

.main-content {

  top: 0px;
  z-index: 2;
  min-height: 60px;
  max-width: 100%;
  margin-right: 0px;
}

.main-image {
  width: 100%;
  height: auto;
}

button {
  border-radius: 4px;
  width: 5em;
  padding: 10px;
  color: #fff;
  background-color: rgb(132, 43, 119);
}

.form-group {
  max-width: 70%;
}

.form-horizontal {
  margin-left: 31%;
  margin-right: 15%;
  text-align: center;
  align-content: center;
}

.footer-image {
  height: auto;
  max-height: 10em;
  width: 97%;
}
